<div class="card" id="card-map">
  <div class="card-header">
    Listado de comercios
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Nit</th>
          <th scope="col">Dirección</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Propietario</th>
          <th scope="col">Dias de atención</th>
          <th scope="col">Horarios</th>
          <th scope="col">Ventas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let com of dataTable">
          <td scope="row">{{com.id}}</td>
          <td>{{com.name}}</td>
          <td>{{com.nit}}</td>
          <td>{{com.address}}</td>
          <td>{{com.phone}}</td>
          <td>{{com.owner}}</td>
          <td>{{com.schedule}}</td>
          <td>{{com.days}}</td>
          <td>{{com.sales}}</td>

        </tr>
      </tbody>
    </table>

  </div>
</div>