/* You can add global styles to this file, and also import other style files */
body {
  background: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url("assets/images/background.png");
  background-size: cover;
}

.marker {
  background-image: url("https://i.dlpng.com/static/png/6964738_preview.png");
  background-size: cover;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}
.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
